<h1><%=@recommend.name%>にでも行きますか</h1>
<ul>
  <li>住所:<%@recommended.address%></li>
  <li>電話番号:<%@recommended.tel%></li>
  <li>定休日:<%@recommended.regular_holiday%></li>
  <li>開店時間:<%@recommended.open%></li>
  <li>閉店時間:<%@recommended.close%></li>
</ul>
